<div class="message-dashboard" id="message-dashboard">
    <div class="alert alert-danger m-0 w-100 text-align-center P-2 d-flex align-items-center " role="alert">
        {{ error_msg }}
        <div class="btn-close" id="btn-close-message" onclick="hidden_msg()">x</div>
    </div>
</div>